@model string

<div class="main-text-header">
    <div class="res-and-button">
        <h1>Результат:</h1>
    </div>
    <p class="par-def">@ViewData["Text"]</p>
    <div class="full-input">
        <button class="custom-button pos-for-backBtn" onclick="goBack()">Back</button>
    </div>
</div>


